@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot');
    src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff') format('woff'),
        url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf') format('truetype'),
        url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot');
    src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff') format('woff'),
        url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf') format('truetype'),
        url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'adelle_rgregular';
    src: url('https://litmus.com/fonts/Emails/adelle_reg-webfont.eot');
    src: url('https://litmus.com/fonts/Emails/adelle_reg-webfont.eot?#iefix') format('embedded-opentype'),
        url('https://litmus.com/fonts/Emails/adelle_reg-webfont.woff') format('woff'),
        url('https://litmus.com/fonts/Emails/adelle_reg-webfont.ttf') format('truetype'),
        url('https://litmus.com/fonts/Emails/adelle_reg-webfont.svg#adelle_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* h1{
   font-family: 'proxima_nova_rgbold', Helvetica, Arial, sans-serif;
} */

body {
    background-color: #fffffe !important;
    color: #2b2c34;
    font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
}

.f-b {
    font-family: 'proxima_nova_rgbold';
}

.is-5 {
    margin-left: 2px;
}

.it-5 {
    margin-right: 5px;
}

.color-secondary {
    color: #6246ea;
}


a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.ico {
    color: #6246ea;
    font-size: 45pt;
    font-weight: bold;
}

.ico-footer {
    font-size: 30pt;
    /* outline-style: solid !important; */
    border: 2px solid #EDEDED !important;
    color: #EDEDED !important;
    text-align: center;
    width: 76px;
    margin-right: 10px;
}

.ico-footer:hover {
    background: #EDEDED;
    color: #6246ea !important;
    border: 0 !important;
}

.rybtn {
    border: 2px solid black;
    background-color: #fffffe;
    color: #fffffe;
    border-radius: 20px;
    font-size: large;
}

.rybtn-primary {
    border-color: #6246ea;
    color: #6246ea;
}

.rybtn-primary:hover {
    background: #6246ea;
    color: #fffffe;
}

.btn-say-hello {
    color: #DA0037 !important;
    outline-style: solid !important;
    outline-color: #DA0037 !important;
}

.btn-say-hello:hover {
    color: #EDEDED !important;
    background-color: #DA0037 !important;
    outline: none !important;
}

.btn-git {
    color: #DA0037 !important;
    outline-style: solid !important;
    outline-color: #DA0037 !important;
}

.btn-git:hover {
    color: #EDEDED !important;
    background-color: #DA0037 !important;
    outline: none !important;
}

input[type="button"]:focus {
    outline: none !important;
    border: none !important;
}

.navbar-toggler:hover {
    color: #6246ea;
}

.navbar-toggler i {
    color: #2b2c34 !important;
}

div.header {
    margin-top: 10em !important;
}

div.intro {
    margin-top: 27em !important;
    text-align: center !important;
    justify-content: center !important;
    background-color: #6246ea !important;
    color: #fffffe;
    height: 500px;
}

div.intro-ongoing {
    margin-top: 10em !important;
    text-align: center !important;
    justify-content: center !important;
    background-color: #6246ea !important;
    color: #fffffe;
    height: 500px;
}

div.intro a {
    margin-top: 10em !important;
}

div.footer {
    /* margin-top: 5em !important; */
    text-align: center;
    background-color: #6246ea !important;
    color: #fffffe;
    height: 500px;
}

.card {
    border: 0;
}

#card-1 {
    position: relative;
}


#card-1:hover {
    /* transform: scale(1.05); */
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
    /* opacity: 0.8; */
}

.child-card {
    position: absolute;
    top: 50%;
    left: 50%;

    margin: -70px 0 0 -170px;
}

.over {
    position: relative;
    top: -150px;
    /* border: thin solid #DA0037; */
    border-radius: 20px;
    width: 1200px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    /* background: url(...); */
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: #fffffe;
    text-align: center;
}

.over-on {
    position: relative;
    top: -150px;
    /* border: thin solid #DA0037; */
    border-radius: 20px;
    width: 1200px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    /* background: url(...); */
    background-repeat: no-repeat;
    background-position: bottom;
    background: transparent;
    text-align: center;
}

.icons-social {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ongoing-projects div .card {
    background: #171717 !important;
    color: #EDEDED !important;
    height: 300px;
    position: relative;
}

.ongoing-projects div .card .card-body {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.card-box {
    /* border: 1px solid #ddd; */
    padding: 20px;
    /* box-shadow: 0px 0px 10px 0px #c5c5c5; */
    margin-bottom: 30px;
    float: left;
    border-radius: 10px;
    background: #fffffe !important;
    color: #272343 !important;
    position: relative;
    height: 347px;
}

.card-box-body {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

@media only screen and (max-width: 1300px) {
    .over {
        width: 800px;
    }

    .over-on {
        width: 1000px;
    }

    #toggle-btn {
        margin: 0 auto !important;
        margin-top: 1em !important;
    }
}

@media only screen and (max-width: 990px) {
    .over-on {
        width: 800px;
    }

    div.investing {
        margin-top: 20em !important;
    }

    .navbar-collapse {
        text-align: center;
    }
}

@media only screen and (min-width: 800px) {

    .intro-p {
        width: 750px !important;
        margin: auto !important;
        margin-top: 1em !important;
    }
}

@media only screen and (max-width: 800px) {
    .over {
        width: 600px;
    }

    .over-on {
        width: 800px;
    }

    div.recent-work {
        margin-top: 20em !important;
    }

    div.investing {
        margin-top: 23em !important;
    }

    .intro-p {
        font-size: 12pt;
    }
}

@media only screen and (max-width: 767px) {
    .over-on {
        width: 500px
    }

    div.investing {
        margin-top: 37em !important;
    }


}

@media only screen and (max-width: 600px) {

    .over,
    .over-on {
        width: 400px;
    }


    div.recent-work {
        margin-top: 20em !important;
    }

    div.investing {
        margin-top: 40em !important;
    }
}


@media only screen and (max-width: 450px) {
    .ico-footer {
        font-size: 20pt;
        width: 55px;
    }

    div.investing {
        margin-top: 40em !important;
    }

    .over {
        margin-top: 2em !important;
    }
}

@media only screen and (max-width: 400px) {

    .over,
    .over-on {
        width: 350px;
    }

    div.recent-work {
        margin-top: 20em !important;
    }

    div.investing {
        margin-top: 45em !important;
    }

}