body {
    background-color: #171717 !important;
    color: #EDEDED;
    font-family: 'Poppins', sans-serif;
}

.f-b {
    font-weight: bold;
}

.is-5 {
    margin-left: 2px;
}

.it-5 {
    margin-right: 5px;
}

.color-secondary {
    color: #DA0037;
}

.ico {
    color: #DA0037;
    font-size: 45pt;
    font-weight: bold;
}

.ico-footer {
    font-size: 30pt;
    /* outline-style: solid !important; */
    border: 2px solid #EDEDED !important;
    color: #EDEDED !important;
    text-align: center;
    width: 76px;
    margin-right: 10px;
}

.ico-footer:hover {
    background: #EDEDED;
    color: #DA0037 !important;
    border: 0 !important;
}

.rybtn {
    border: 2px solid black;
    background-color: #171717;
    color: #171717;
    border-radius: 20px;
}

.rybtn-primary{
    border-color: #DA0037;
    color: #DA0037;
}

.rybtn-primary:hover{
    background: #DA0037;
    color: #EDEDED;
}

.btn-say-hello {
    color: #DA0037 !important;
    outline-style: solid !important;
    outline-color: #DA0037 !important;
}

.btn-say-hello:hover {
    color: #EDEDED !important;
    background-color: #DA0037 !important;
    outline: none !important;
}

.btn-git {
    color: #DA0037 !important;
    outline-style: solid !important;
    outline-color: #DA0037 !important;
}

.btn-git:hover {
    color: #EDEDED !important;
    background-color: #DA0037 !important;
    outline: none !important;
}

input[type="button"]:focus {
    outline: none !important;
    border: none !important;
}

.navbar-toggler i {
    color: #EDEDED !important;
}

div.header {
    margin-top: 10em !important;
}

div.intro {
    margin-top: 5em !important;
    text-align: center;
    background-color: #DA0037 !important;
    height: 400px;
}

div.footer {
    /* margin-top: 5em !important; */
    text-align: center;
    background-color: #DA0037 !important;
    height: 500px;
}

.card {
    border: 0;
}

#card-1 {
    position: relative;
}


#card-1:hover {
    /* transform: scale(1.05); */
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    /* opacity: 0.8; */
}

.child-card {
    position: absolute;
    top: 50%;
    left: 50%;

    margin: -70px 0 0 -170px;
}

.over {
    position: relative;
    top: -150px;
    /* border: thin solid #DA0037; */
    border-radius: 20px;
    width: 1200px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    /* background: url(...); */
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: #171717;
    text-align: center;
}

.over-on {
    position: relative;
    top: -150px;
    /* border: thin solid #DA0037; */
    border-radius: 20px;
    width: 1200px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    /* background: url(...); */
    background-repeat: no-repeat;
    background-position: bottom;
    background: transparent;
    text-align: center;
}

.icons-social {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ongoing-projects div .card {
    background:#171717 !important;
    color:#EDEDED !important;
    height: 300px;
    position: relative;
}

.ongoing-projects div .card .card-body {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.card-box {
    /* border: 1px solid #ddd; */
    padding: 20px;
    /* box-shadow: 0px 0px 10px 0px #c5c5c5; */
    margin-bottom: 30px;
    float: left;
    border-radius: 10px;
    background: #171717 !important;
    color: #EDEDED !important;
    position: relative;
}

.card-box-body {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

@media only screen and (max-width: 1300px) {
    .over {
        width: 800px;
    }
    .over-on {
        width: 1000px;
    }
    #toggle-btn {
        margin: 0 auto !important;
        margin-top: 1em !important;
    }
}

@media only screen and (max-width: 990px) {
    .over-on {
        width: 800px;
    }
    div.investing {
        margin-top: 20em !important;
    }
}

@media only screen and (max-width: 800px) {
    .over {
        width: 600px;
    }
    
    .over-on {
        width: 800px;
    }

    div.recent-work {
        margin-top: 15em !important;
    }

    div.investing {
        margin-top: 23em !important;
    }
}

@media only screen and (max-width: 767px) {
    .over-on {
        width: 500px
    }
    div.investing {
        margin-top: 37em !important;
    }
}

@media only screen and (max-width: 600px) {
    .over, .over-on {
        width: 400px;
    }
    

    div.recent-work {
        margin-top: 15em !important;
    }
    div.investing {
        margin-top: 40em !important;
    }
}


@media only screen and (max-width: 450px) {
    .ico-footer {
        font-size: 20pt;
        width:55px;
    }
    div.investing {
        margin-top: 40em !important;
    }
}

@media only screen and (max-width: 400px) {
    .over, .over-on {
        width: 350px;
    }
    div.recent-work {
        margin-top: 20em !important;
    }
    div.investing {
        margin-top: 45em !important;
    }
    
}