.send-mail {
    width: '600px' !important;
    margin: 'auto' !important;
}

input[name='name'] {
    border-color: #2b2c34;
    color: #2b2c34;
    font-size: larger;
}

input[name='user_email'] {
    border-color: #2b2c34;
    color: #2b2c34;
    font-size: larger;
}

textarea[name='message'] {
    border-color: #2b2c34;
    color: #2b2c34;
    font-size: larger;
}

@media only screen and (max-width: 767px) {
    .send-mail-form {
        width: 100% !important;
    }
    
} 

@media only screen and (max-width: 575px) {
    input[name='user_email'] {
        margin-top: 1em !important;
    }
}